// core
$img-path: '~@/assets/style-core/images' !default;
$font-path: '~@/assets/style-core/fonts' !default;
@import "./style-core/scss/core-index.scss";

// products
$img-path: '~@/assets/style-product/images' !default;
@import "./style-product/scss/style-product.scss";
